body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

footer {
  margin-top: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

p {
  color: #555;
}

a {
  text-decoration: none;
  color: #007BFF;
}
